/* Current red shade: #ff4c4c */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

html { 
	/* --primaryColor: #ff4c4c; */
	--color1: rgb(26, 219, 219);
}

/************
* Standard. *
************/
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	text-align: justify;
   	margin: 5em;
    	padding: 0;
}

a
{
	color: var(--color1);
}

a:hover
{
	color: var(--color1);
}

/************
* Headings. *
************/
h1
{
	font-family: 'PT Sans', sans-serif;
	padding-top: 0.75em;
	font-size: 1.40em;
    	font-weight: bold;
}

h2
{
	font-family: 'PT Sans', sans-serif;
	padding-top: 0.75em;
	font-size: 1.20em;
    	font-weight: bold;
}

h3
{
	font-family: 'PT Sans', sans-serif;
	padding-top: 0.75em;
	font-size: 1.0em;
   	font-weight: bold;
}
